<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MozJPEG_Tools_GUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MozJPEG_Tools_GUI.My.MySettings>
            <setting name="LosslessMethod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LossyMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyNone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DCTInt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DCTFastInt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DCTFloat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuantizationJPEG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuantizationFlat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuantCustomMSSSIM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuantImageMagick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuantCustomPSNRHVS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuantTable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DC0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DC1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DC2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>75</value>
            </setting>
        </MozJPEG_Tools_GUI.My.MySettings>
    </userSettings>
</configuration>